html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(tab-land) {
        font-size: 55%;
	}

	@include respond(tab-mini-land) {
		font-size: 50%;
	}

	@include respond(phone-smaller) {
		font-size: 45%;
	}

	@include respond(mini-phone) {
		font-size: 35%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0;
	color: $color-white;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	padding: 0 35rem;

	@include respond(big-desktop) {
		padding: 0 21rem;
	}

	@include respond(tab-mini-land) {
		padding: 0 15rem;
	}

	@include respond(tab-port) {
		padding: 0 10rem;
	}

	@include respond(phone) {
		padding: 0 5rem;
	}
}

.site-container {
	background-color: $color-purple-dark;
}

.video-bar-wrapper {
	width: 95rem;
	height: 1px;
	background-color: $color-white;

	@include respond(tab-land) {
        width: 90rem;
	}

	@include respond(tab-mini-land) {
		width: 80rem;
	}

	@include respond(tab-port) {
		width: 60rem;
	}

	@include respond(phone) {
		width: 45rem;
	}

	@include respond(phone-small) {
      width: 32rem;
   }

	@include respond(mini-phone) {
		width: 28rem;
	}
}

.audio-bar-wrapper {
	width: 38rem;
	height: 1px;
	background-color: $color-white;
	margin: 0 4.5rem;

	@include respond(tab-mini-land) {
		width: 35rem;
		margin: 0 2rem;
    }

	@include respond(phone-small) {
		width: 27rem;
		margin: 0 1rem;
	}
}

.quote-container {
	max-width: 52rem;

	@include respond(tab-port) {
		max-width: fit-content;
	}
}

.body--lock {
	overflow-y: hidden;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

.wrapper {
	overflow-x: hidden;
}