.card {
    width: 35rem;
    height: 30rem;
    background: none;
    display: flex;
    overflow: hidden;
    border-radius: $main-border;

    @include respond(tab-mini-land) {
        width: 30rem;
    }

    @include respond(tab-port) {
        width: 24rem;
        height: 27rem;
    }

    @include respond(phone) {
		width: 20rem;
        height: 26rem;
	}

    @include respond(phone-small) {
        margin-top: 2rem;
        width: 27rem;
        height: 30rem;
    }

    &:hover &__descr {
        transform: translateY(0)
    }

    &--1,
    &--2,
    &--3 {
        @include image-set;
    }

    &--1 {
        background-image: url("../images/card-1.png");
    }

    &--2 {
        background-image: url("../images/card-2.png");
    }

    &--3 {
        background-image: url("../images/card-3.png");
    }

    &__descr {
        background-color: rgba($color-purple, .7);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem; 
        transform: translateY(20rem);
        transition: transform .5s;

        @include respond(tab-land) {
            transform: translateY(22rem);
        }

        @include respond(tab-port) {
            padding: 1.5rem;
            transform: translateY(20rem);
        }

        @include respond(phone) {
            padding: 0 1rem;
            justify-content: space-evenly;
            transform: translateY(18rem);
        }

        @include respond(phone-small) {
            justify-content: space-around;
            transform: translateY(21rem);
        }

        &-text {
           font-size: $small-font-size;
           line-height: 2.4rem;

            @include respond(tab-port) {
                font-size: $small-land-size;
            }

            @include respond(phone) {
                line-height: 1.8rem;
            }

            @include respond(phone-small) {
                font-size: $small-font-size;
            }
        }
    }
}