.controls {

    &__btn {
        button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
        }

        i {
            font-size: 2.5rem;
            color: $color-white;
        }
    }

    &__bar {
        height: 1px;
        background-color: $color-purple;
        position: relative;
        transition: width .2s linear;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 2rem;
            width: 1px;
            background-color: $color-purple;
        }
    }
}