.footer {
    background-color: $color-purple-dark;
    width: 100%;

    &__inner {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contacts {
        display: flex;
        margin-top: 6rem;

        &-contact {
            font-weight: 600;
            font-size: $default-font-size;
            text-align: right;
            text-transform: uppercase;
            margin-right: 3rem;

            @include respond(phone-small) {
                font-size: $small-font-size;          
            }
        }

        &-author {
            font-size: $default-font-size;
            text-transform: uppercase;

            @include respond(phone-small) {
                font-size: $small-font-size;          
            }

            :first-child {
                margin-right: auto;
            }
        }
    }

    &__socials {
        padding-top: 8rem;
        display: flex;

        :not(:first-child) {
            margin-left: 3.5rem;
        }

        &-item {
            position: relative;
            background-color: $color-purple;
            border-radius: 50%;
            cursor: pointer;
            width: 4.5rem;
            height: 4.5rem;
            transition: all .3s;

            @include respond(phone-smaller) {
                width: 4rem;
                height: 4rem;
            }

            &:hover {
                transform: scale(1.05);
                transition: all .3s;
            }

            &:hover img {
                transform: rotate(20deg);
            }
        }

        &-img--1 {
            margin-top: -2%;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
                transition: all .3s .3s;

                @include respond(phone-small) {
                    width: 60%;
                    height: 70%;         
                }

                @include respond(phone-smaller) {
                    width: 55%;
                }
            }
        }
    }

    &__copyright {
        padding-top: 10rem;
        display: flex;
        justify-content: center;

        @include respond(phone-small) {
            padding-top: 6rem;      
        }

        &-text {
            opacity: $main-opacity;
            font-size: $small-font-size;
            text-transform: uppercase;
        }
    }
}