.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &__inner {
        padding: 3rem 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-port) {
            padding: 3rem;
        }
    }

    &__navbar {

        @include respond(phone) {
            display: none;
        }

        :not(:first-child) {
            margin-left: 5.6rem;

            @include respond(tab-land) {
                margin-left: 2rem;
            }
        }

        &-link {
            font-size: $default-font-size;
            font-weight: 600;
        }
    }
}