//FONT
$small-font-size: 1.4rem;
$small-land-size: 1.2rem;
$normal-font-size: 1.6rem;
$default-font-size: 1.8rem;
$heading-1-size: 10rem;
$heading-1-port-size: 8rem;
$heading-1-phone-size: 6rem;
$heading-2-size: 4.8rem;
$heading-2-port-size: 3.5rem;
$heading-2-phone-size: 3rem;
$heading-3-size: 2.4rem;
$heading-3-phone-size: 1.8rem;
$heading-4-size: 1.8rem;
$heading-4-phone-size: 1.6rem;
$heading-4-small-phone-size: 1.4rem;
$heading-5-size: 1.6rem;
$heading-5-port-size: 1.4rem;
$burger-menu-size: 5rem;
$burger-menu-phone-size: 4rem;
$burger-menu-mini-phone-size: 3.5rem;

//COLORS
$color-white: #fff;
$color-black: #000;
$color-purple: #7a66cc;
$color-purple-dark: #1c1b21;
$color-grey-dark: #2f2b2b;
$color-grey-dark-2: #2c2c2c;

//BORDERS
$main-border: 3rem 0;
$small-border: 1rem 0;

//OPACITIES
$main-opacity: .5;

//PADDINGS
$small-section-padding: 12rem;
$section-padding: 18rem;
$big-section-padding: 26rem;
$huge-section-padding: 33rem;
$huge-section-padding-mobile: 102rem;
$huge-section-padding-small-mobile: 107rem;